[instance]
instance_type=m1.small
user=ubuntu
availability_zone=us-east-1d

[authentication]
aws_access_key_id=your_access_key_id_here
aws_secret_access_key=your_secret_access_key_here

[filters]
image_id=ami-81b275e8
security_group=your_security_group_here
